body{
    background: khaki;
    padding: 0px;
    margin: 0px;
}

.popular h2{
    color:#f7325e;
}
.popular p{
    color:#7dc410;
}

.tropical h2{
    color: rgb(6, 32, 32);
}
.tropical p{
    color: teal;
}
img {
    border-radius: 15px;
    border: 2px solid black;
    box-shadow: purple 0 0 15px;
}

/*navbar styling*/
nav{
    background-color: black;
    color: white;
    display:flex;
    justify-content: space-between;
    padding: 15px;
    position: sticky; 
    z-index:10px;
    height: 40px;
}
nav ul{
    display: inline-flex;
    list-style: none;
    text-align: left;
}
nav li a{
    color: white;
    padding: 20px;
    text-decoration: none;
}
.gallerly img{
    border-radius: 15px;
    border: 2px solid olive;
    box-shadow: white 0 0 15px;
}
.contact{
    background: black;
    font-size: 12px;
    text-align: center;
    color: white;
    padding: 20px

}